{% extends "base.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block content %}
      {% for notice in notices %}
        <div class="notice">
            {{notice.title}}
            <div>
              <em class="glyphicon glyphicon-calendar"></em> Date de Publication: <span class="create-date">{{notice.date_created}} </span>
              -- <em class="glyphicon glyphicon-calendar"></em> Date Limite: <span class="expired-date">{{notice.date_expired}} </span>
            </div>
           <span class="pull-right readMore">{% trans 'Lire la suite' %}</span>
            <div class="desc">
            <hr/>
                <div class="org-title">
                  {% if notice.organization.logo %}
                    <a href="{{notice.organization.logo.url}}"><img class="logo" alt="" src="{{notice.organization.logo.url}}" /></a>
                  {% endif %}
                  {{ notice.organization.name }}
                </div>
                <div>
                  <html>{{ notice.body|safe }}</html>
                </div>
            </div>
        </div>
      {% endfor %}
{% endblock %}
{% block rigth %}
  <div class="row clearfix">
      <div class="col-md-12 column">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">
                Petite anonces
                <small class="pull-right">FAD</small>
              </h3>
            </div>
          </div>
          <div class="row clearfix">
              <div class="col-md-12 column">
                <marquee behavior="alternate" scrollamount="1" direction="up" onmouseover="this.stop();" onmouseout="this.start();">
                  {% for a in smallnotices %}
                    <div class="list-group">
                        <div class="list-group-item">{{ a.name}}
                            <h4 class="list-group-item-heading">
                                <h5>{{a.body}}</h5>
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Access site using SSH terminal">
                                  <h6> {{a.subject}} </h6>
                                </a>
                            </h4>
                            <p class="list-group-item-text">
                                <h6 class="label label-success"><em class="glyphicon glyphicon-calendar"> {{a.date}} </em></h6><!--
                               <h6> <a href="mailto:{{a.email}}?Subject=%20{{a.name}}"><em class="glyphicon glyphicon-envelope"></em> {{a.email}} </a></h6> -->
                            </p>
                        </div>
                    </div>
                  {% endfor %}
                  </marquee>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
{% block footer %}
    <!----------- Footer ------------>
  {% include  '_small_notice.html' %}
    <footer class="footer-bs">
        <div class="row">
          <div class="col-md-3 footer-brand animated fadeInLeft">
              <h2>Logo</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2017 Fad, All rights reserved</p>
                <address>
                <a href="mailto:223notice@gmail.com?Subject=Site%20notice"><i class="glyphicon glyphicon-envelope"></i> 223notice@gmail.com</a></address>
            </div>
          <div class="col-md-4 footer-nav animated fadeInUp">
              <h4>Menu —</h4>
              <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
              <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
          <div class="col-md-2 footer-social animated fadeInDown">
              <h4>Follow Us</h4>
              <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">RSS</a></li>
                </ul>
            </div>
          <div class="col-md-3 footer-ns animated fadeInRight">
              <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer><!--
    <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="http://enfoplus.net">Prince J. Sargbah</a></p></section> -->
</div>
{% endblock %}