{% extends "base.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block content %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% include "_message.html" with msg=new_organization_form.errors %}
      <div class="new-organization">
          <form "form-horizontal" method="POST">
              {% csrf_token %}
              <div  class="form-group">
                  <label>{{new_organization_form.name.label}}</label>
                  {{new_organization_form.name|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.logo.label}}</label>
                  {{new_organization_form.logo|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.date_created.label}}</label>
                  {{new_organization_form.date_created|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.capital.label}}</label>
                  {{new_organization_form.capital|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.email.label}}</label>
                  {{new_organization_form.email}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.date_expired.label}}</label>
                  {{new_organization_form.date_expired|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_organization_form.is_active.label}}</label>
                  {{new_organization_form.is_active|add_class:"form-control"}}
              </div>
              <button type="submit" name="_new_organization" class="btn btn-primary">{% trans "Sign Up" %}</button>
          </form>
      </div>
    </div>
{% endblock %}