{% extends "base.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block content %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% include "_message.html" with msg=new_user_form.errors %}
      <div class="new-user">
          <form "form-horizontal" method="POST">
              {% csrf_token %}
              <div  class="form-group">
                  <label>{{new_user_form.username.label}}</label>
                  {{new_user_form.username|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_user_form.image.label}}</label>
                  {{new_user_form.image|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_user_form.full_name.label}}</label>
                  {{new_user_form.full_name|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_user_form.localite.label}}</label>
                  {{new_user_form.localite|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_user_form.password1.label}}</label>
                  {{new_user_form.password1|add_class:"form-control"}}
              </div>
              <div  class="form-group">
                  <label>{{new_user_form.password2.label}}</label>
                  {{new_user_form.password2|add_class:"form-control"}}
              </div>
              <button type="submit" name="_new_user" class="btn btn-primary">{% trans "Save" %}</button>
          </form>
      </div>
    </div>
{% endblock %}