{% extends "base.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block content_lg %}
    <div class="org-title">
        {% if notice.organization.logo %}
            <a href="{{notice.organization.logo.url}}"><img  class="logo" alt="" src="{{notice.organization.logo.url}}" /></a>
        {% endif %} {{ notice.organization.name }} </div>
    <div>
        Date de debut <span class="create-date">{{notice.date_created}} </span> -- Date de fin <span class="expired-date">{{notice.date_expired}} </span>
        Partager {% if notice.share %} <em class="glyphicon glyphicon-ok"></em> {% else %} <em class="glyphicon glyphicon-notok"></em> {% endif %}
    </div>
    <h3> {{notice.title}} </h3>
    <html>{{notice.body|safe}}</html>
{% endblock %}