{% extends "base.html" %}
{% load staticfiles i18n %}
{% block content %}
    <img  class="logo" alt="" src="{{org.logo.url}}" ><h1>Organisation {{org.name}}</h1>

        <div class="row">
            <a class="btn btn-default" href="{% url 'add-notice' id_url %}"><em class="glyphicon glyphicon-plus"></em> Nouvel avis</a>
        </div>
        <hr>  
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Date d'ajout</th>
                    <th>Nombre de vue</th>
                    <th>E-mail</th>
                    <th>Date d'expiration</th>
                    <th>Modification</th>
                </tr>
                {% for notice in notices %}
                    <tr>
                        <td><a href="{{notice.url_view}}">{{notice.title}}</a></td>
                        <td>{{notice.type_notice}}</td>
                        <td>{{notice.date_created}}</td>
                        <td>{{notice.count_view}}</td>
                        <td>{{notice.email}}</td>
                        <td>{{notice.date_expired}}</td>
                        <td align="center">
                          <a class="btn btn-default" href="{{notice.url_change}}"><em class="glyphicon glyphicon-edit"></em></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}
